footer.footer

    .footer__wrapper

        .footer__logo
            img(src='img/footer-logo.png' alt='logo')

        .footer__links
            a(href='tel:+420 608 664 422').footer__link.footer__link--phone +420 608 664 422
            a(href='mailto:info@tusch.cz').footer__link.footer__link--email info@tusch.cz
            span.footer__link.footer__link--address Jiráskova 1264, Třebechovice pod Orebem, 503 46

    .footer__art © Tusch s. r. o. 2018. Všechna práva vyhrazena.