header.header

    .header__wrapper

        .header__logo
            img(src='img/header-logo.png' alt='logo')


        .header__links
            a(href='tel:+420 608 664 422').header__link.header__link--phone +420 608 664 422
            a(href='mailto:info@tusch.cz').header__link.header__link--email info@tusch.cz
            span.header__link.header__link--address Jiráskova 1264, Třebechovice pod Orebem, 503 46
