.footer {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;

  &__wrapper {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 160px;
    padding-right: 70px;
    @include box-sizing(border-box);
    background-color: #262424;

    @include breakpoint(max-width 1200px) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__logo {
    position: relative;
    float: left;
    width: 198px;
    height: 134px;
    margin-top: 40px;
    margin-bottom: 30px;
    overflow: hidden;

    img, svg {
      size: 100%;
      object-fit: contain;
    }

    @include breakpoint(max-width 1200px) {
      margin-left: calc(50% - (198px/2));
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__links {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(flex-end);
    position: relative;
    float: left;
    width: calc(100% - 198px);
    width: -moz-calc(100% - 198px);
    margin-top: 146px;
    margin-bottom: 30px;

    @include breakpoint(max-width 1200px) {
      width: 100%;
      @include justify-content(center);
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @include breakpoint(max-width 770px) {
      @include flex-direction(column);
    }
  }

  &__link {
    position: relative;
    float: left;
    color: #fff;
    font-size: 20px;
    margin-right: 60px;
    padding-left: 40px;
    @include box-sizing(border-box);

    &:hover {
      color: #fff;
    }

    &:nth-child(3) {
      margin-right: 0;
    }

    @include breakpoint(max-width 770px) {
      margin-bottom: 15px;
    }

    &--phone:before {
      display: block;
      position: absolute;
      content: '';
      width: 25px;
      height: 25px;
      top: 2px;
      left: 0;
      background-image: url('../img/icons/phone-white-icon.png');
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
    }

    &--email:before {
      display: block;
      position: absolute;
      content: '';
      width: 25px;
      height: 25px;
      top: 2px;
      left: 0;
      background-image: url('../img/icons/email-white-icon.png');
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
    }

    &--address:before {
      display: block;
      position: absolute;
      content: '';
      width: 25px;
      height: 25px;
      top: 2px;
      left: 0;
      background-image: url('../img/icons/envelope-white-icon.png');
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
    }
  }

  &__art {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
    line-height: 50px;
  }
}